<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>count</key>
	<integer>2</integer>
	<key>deals</key>
	<array>
		<dict>
			<key>businesses</key>
			<array>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/508282?utm_source=open</string>
					<key>id</key>
					<integer>508282</integer>
					<key>latitude</key>
					<real>39.929699999999997</real>
					<key>longitude</key>
					<real>116.47145</real>
					<key>name</key>
					<string>眉州东坡酒楼(六里屯店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/508282?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/508781?utm_source=open</string>
					<key>id</key>
					<integer>508781</integer>
					<key>latitude</key>
					<real>39.930003999999997</real>
					<key>longitude</key>
					<real>116.47072</real>
					<key>name</key>
					<string>眉州东坡酒楼(团结湖店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/508781?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/510423?utm_source=open</string>
					<key>id</key>
					<integer>510423</integer>
					<key>latitude</key>
					<real>40.005547</real>
					<key>longitude</key>
					<real>116.40519999999999</real>
					<key>name</key>
					<string>眉州东坡酒楼(亚运村店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/510423?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/510771?utm_source=open</string>
					<key>id</key>
					<integer>510771</integer>
					<key>latitude</key>
					<real>39.972546000000001</real>
					<key>longitude</key>
					<real>116.425285</real>
					<key>name</key>
					<string>眉州东坡酒楼(中日店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/510771?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/510773?utm_source=open</string>
					<key>id</key>
					<integer>510773</integer>
					<key>latitude</key>
					<real>39.884906999999998</real>
					<key>longitude</key>
					<real>116.45562</real>
					<key>name</key>
					<string>眉州东坡酒楼(劲松店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/510773?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/510774?utm_source=open</string>
					<key>id</key>
					<integer>510774</integer>
					<key>latitude</key>
					<real>39.938965000000003</real>
					<key>longitude</key>
					<real>116.44441</real>
					<key>name</key>
					<string>眉州东坡酒楼(春秀店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/510774?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/510776?utm_source=open</string>
					<key>id</key>
					<integer>510776</integer>
					<key>latitude</key>
					<real>39.951836</real>
					<key>longitude</key>
					<real>116.51140599999999</real>
					<key>name</key>
					<string>眉州东坡酒楼(将台店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/510776?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/510777?utm_source=open</string>
					<key>id</key>
					<integer>510777</integer>
					<key>latitude</key>
					<real>40.328130000000002</real>
					<key>longitude</key>
					<real>116.63808</real>
					<key>name</key>
					<string>眉州东坡酒楼(怀柔店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/510777?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/512421?utm_source=open</string>
					<key>id</key>
					<integer>512421</integer>
					<key>latitude</key>
					<real>39.906844999999997</real>
					<key>longitude</key>
					<real>116.21890999999999</real>
					<key>name</key>
					<string>眉州东坡酒楼(石景山店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/512421?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/515474?utm_source=open</string>
					<key>id</key>
					<integer>515474</integer>
					<key>latitude</key>
					<real>39.846850000000003</real>
					<key>longitude</key>
					<real>116.35720000000001</real>
					<key>name</key>
					<string>眉州东坡酒楼(恋日店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/515474?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/515636?utm_source=open</string>
					<key>id</key>
					<integer>515636</integer>
					<key>latitude</key>
					<real>39.977553999999998</real>
					<key>longitude</key>
					<real>116.31638</real>
					<key>name</key>
					<string>眉州东坡酒楼(中关村店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/515636?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/516391?utm_source=open</string>
					<key>id</key>
					<integer>516391</integer>
					<key>latitude</key>
					<real>40.348891999999999</real>
					<key>longitude</key>
					<real>116.695244</real>
					<key>name</key>
					<string>眉州东坡酒楼(雁栖店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/516391?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2313859?utm_source=open</string>
					<key>id</key>
					<integer>2313859</integer>
					<key>latitude</key>
					<real>39.916849999999997</real>
					<key>longitude</key>
					<real>116.51751</real>
					<key>name</key>
					<string>眉州东坡酒楼(尚街店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2313859?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2344609?utm_source=open</string>
					<key>id</key>
					<integer>2344609</integer>
					<key>latitude</key>
					<real>39.989272999999997</real>
					<key>longitude</key>
					<real>116.47472</real>
					<key>name</key>
					<string>眉州东坡酒楼(望京店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2344609?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2405902?utm_source=open</string>
					<key>id</key>
					<integer>2405902</integer>
					<key>latitude</key>
					<real>39.953094</real>
					<key>longitude</key>
					<real>116.3185</real>
					<key>name</key>
					<string>眉州东坡酒楼(魏公村店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2405902?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2489347?utm_source=open</string>
					<key>id</key>
					<integer>2489347</integer>
					<key>latitude</key>
					<real>40.013770000000001</real>
					<key>longitude</key>
					<real>116.46957399999999</real>
					<key>name</key>
					<string>眉州东坡酒楼(博雅店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2489347?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2637895?utm_source=open</string>
					<key>id</key>
					<integer>2637895</integer>
					<key>latitude</key>
					<real>39.732821999999999</real>
					<key>longitude</key>
					<real>116.34390999999999</real>
					<key>name</key>
					<string>眉州东坡酒楼(大兴店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2637895?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3276043?utm_source=open</string>
					<key>id</key>
					<integer>3276043</integer>
					<key>latitude</key>
					<real>39.797289999999997</real>
					<key>longitude</key>
					<real>116.51093</real>
					<key>name</key>
					<string>眉州东坡酒楼(亦庄店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3276043?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3553117?utm_source=open</string>
					<key>id</key>
					<integer>3553117</integer>
					<key>latitude</key>
					<real>39.930100000000003</real>
					<key>longitude</key>
					<real>116.46232000000001</real>
					<key>name</key>
					<string>眉州东坡酒楼(长虹桥店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3553117?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3580258?utm_source=open</string>
					<key>id</key>
					<integer>3580258</integer>
					<key>latitude</key>
					<real>40.042099999999998</real>
					<key>longitude</key>
					<real>116.482544</real>
					<key>name</key>
					<string>眉州东坡酒楼(崔各庄店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3580258?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/4183307?utm_source=open</string>
					<key>id</key>
					<integer>4183307</integer>
					<key>latitude</key>
					<real>39.972897000000003</real>
					<key>longitude</key>
					<real>116.29495</real>
					<key>name</key>
					<string>眉州东坡酒楼(万柳店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/4183307?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/4210836?utm_source=open</string>
					<key>id</key>
					<integer>4210836</integer>
					<key>latitude</key>
					<real>39.907069999999997</real>
					<key>longitude</key>
					<real>116.66515</real>
					<key>name</key>
					<string>眉州东坡酒楼(通州店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/4210836?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/4285670?utm_source=open</string>
					<key>id</key>
					<integer>4285670</integer>
					<key>latitude</key>
					<real>40.042319999999997</real>
					<key>longitude</key>
					<real>116.42158000000001</real>
					<key>name</key>
					<string>眉州东坡酒楼(北苑店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/4285670?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/5161065?utm_source=open</string>
					<key>id</key>
					<integer>5161065</integer>
					<key>latitude</key>
					<real>40.008719999999997</real>
					<key>longitude</key>
					<real>116.38137</real>
					<key>name</key>
					<string>眉州东坡酒楼(国奥村店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/5161065?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/5203912?utm_source=open</string>
					<key>id</key>
					<integer>5203912</integer>
					<key>latitude</key>
					<real>39.938763000000002</real>
					<key>longitude</key>
					<real>116.501175</real>
					<key>name</key>
					<string>眉州东坡酒楼(泛海店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/5203912?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/5203923?utm_source=open</string>
					<key>id</key>
					<integer>5203923</integer>
					<key>latitude</key>
					<real>39.857190000000003</real>
					<key>longitude</key>
					<real>116.29337</real>
					<key>name</key>
					<string>眉州东坡酒楼(丰台店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/5203923?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/5439398?utm_source=open</string>
					<key>id</key>
					<integer>5439398</integer>
					<key>latitude</key>
					<real>39.916260000000001</real>
					<key>longitude</key>
					<real>116.41164000000001</real>
					<key>name</key>
					<string>眉州东坡酒楼(王府井店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/5439398?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/5532708?utm_source=open</string>
					<key>id</key>
					<integer>5532708</integer>
					<key>latitude</key>
					<real>39.899920000000002</real>
					<key>longitude</key>
					<real>116.41266</real>
					<key>name</key>
					<string>眉州东坡酒楼(崇文门店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/5532708?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/6177790?utm_source=open</string>
					<key>id</key>
					<integer>6177790</integer>
					<key>latitude</key>
					<real>39.764009999999999</real>
					<key>longitude</key>
					<real>116.33452</real>
					<key>name</key>
					<string>眉州东坡酒楼(绿地店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/6177790?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/8071299?utm_source=open</string>
					<key>id</key>
					<integer>8071299</integer>
					<key>latitude</key>
					<real>40.029736</real>
					<key>longitude</key>
					<real>116.336235</real>
					<key>name</key>
					<string>眉州东坡酒楼(清河华润店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/8071299?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/13934329?utm_source=open</string>
					<key>id</key>
					<integer>13934329</integer>
					<key>latitude</key>
					<real>39.951230000000002</real>
					<key>longitude</key>
					<real>116.55746499999999</real>
					<key>name</key>
					<string>眉州东坡酒楼(东坝店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/13934329?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/15100485?utm_source=open</string>
					<key>id</key>
					<integer>15100485</integer>
					<key>latitude</key>
					<real>40.121955999999997</real>
					<key>longitude</key>
					<real>116.64762</real>
					<key>name</key>
					<string>眉州东坡酒楼(顺义店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/15100485?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/16969973?utm_source=open</string>
					<key>id</key>
					<integer>16969973</integer>
					<key>latitude</key>
					<real>40.048209999999997</real>
					<key>longitude</key>
					<real>116.43109</real>
					<key>name</key>
					<string>眉州东坡酒楼(北苑华贸店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/16969973?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/18395079?utm_source=open</string>
					<key>id</key>
					<integer>18395079</integer>
					<key>latitude</key>
					<real>39.907077999999998</real>
					<key>longitude</key>
					<real>116.44793</real>
					<key>name</key>
					<string>眉州东坡酒楼(永安里店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/18395079?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/18596173?utm_source=open</string>
					<key>id</key>
					<integer>18596173</integer>
					<key>latitude</key>
					<real>39.905166999999999</real>
					<key>longitude</key>
					<real>116.46305</real>
					<key>name</key>
					<string>眉州东坡酒楼(国贸店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/18596173?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/18721821?utm_source=open</string>
					<key>id</key>
					<integer>18721821</integer>
					<key>latitude</key>
					<real>40.2119</real>
					<key>longitude</key>
					<real>116.23999000000001</real>
					<key>name</key>
					<string>眉州东坡酒楼(昌平店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/18721821?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/20877475?utm_source=open</string>
					<key>id</key>
					<integer>20877475</integer>
					<key>latitude</key>
					<real>39.923110000000001</real>
					<key>longitude</key>
					<real>116.17138</real>
					<key>name</key>
					<string>眉州东坡酒楼(喜隆多店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/20877475?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/20885130?utm_source=open</string>
					<key>id</key>
					<integer>20885130</integer>
					<key>latitude</key>
					<real>39.949590000000001</real>
					<key>longitude</key>
					<real>116.45977000000001</real>
					<key>name</key>
					<string>眉州东坡酒楼(燕莎桥店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/20885130?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/21582998?utm_source=open</string>
					<key>id</key>
					<integer>21582998</integer>
					<key>latitude</key>
					<real>39.790640000000003</real>
					<key>longitude</key>
					<real>116.345085</real>
					<key>name</key>
					<string>眉州东坡酒楼(鸿坤店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/21582998?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/23222224?utm_source=open</string>
					<key>id</key>
					<integer>23222224</integer>
					<key>latitude</key>
					<real>39.954079999999998</real>
					<key>longitude</key>
					<real>116.23031</real>
					<key>name</key>
					<string>眉州东坡酒楼(中间艺术园店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/23222224?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/32373125?utm_source=open</string>
					<key>id</key>
					<integer>32373125</integer>
					<key>latitude</key>
					<real>39.924849999999999</real>
					<key>longitude</key>
					<real>116.59632999999999</real>
					<key>name</key>
					<string>眉州东坡酒楼(龙湖百盛店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/32373125?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/43604128?utm_source=open</string>
					<key>id</key>
					<integer>43604128</integer>
					<key>latitude</key>
					<real>39.982489999999999</real>
					<key>longitude</key>
					<real>116.383606</real>
					<key>name</key>
					<string>眉州东坡酒楼(民族园店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/43604128?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/48388649?utm_source=open</string>
					<key>id</key>
					<integer>48388649</integer>
					<key>latitude</key>
					<real>39.990160000000003</real>
					<key>longitude</key>
					<real>116.43236</real>
					<key>name</key>
					<string>眉州东坡酒楼(远洋未来广场店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/48388649?utm_source=open</string>
				</dict>
			</array>
			<key>categories</key>
			<array>
				<string>川菜</string>
				<string>川湘菜</string>
				<string>聚餐宴请</string>
			</array>
			<key>city</key>
			<string>北京</string>
			<key>commission_ratio</key>
			<real>0.0</real>
			<key>current_price</key>
			<real>95</real>
			<key>deal_h5_url</key>
			<string>http://m.dianping.com/tuan/deal/15982763?utm_source=open</string>
			<key>deal_id</key>
			<string>2-15982763</string>
			<key>deal_url</key>
			<string>http://t.dianping.com/deal/15982763?utm_source=open</string>
			<key>description</key>
			<string>眉州东坡酒楼 100元代金券1张，可叠加 仅售95元！价值100元的代金券1张，全场通用，可叠加使用，提供免费wifi。</string>
			<key>distance</key>
			<integer>-1</integer>
			<key>image_url</key>
			<string>http://p0.meituan.net/deal/b14653bd0970153ad64a19a39ba234fa18411.jpg%40640w_400h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D5%26y%3D5%26relative%3D1</string>
			<key>list_price</key>
			<real>100</real>
			<key>publish_date</key>
			<string>2015-05-13</string>
			<key>purchase_count</key>
			<integer>362223</integer>
			<key>purchase_deadline</key>
			<string>2016-12-31</string>
			<key>regions</key>
			<array>
				<string>朝阳区</string>
				<string>东城区</string>
				<string>海淀区</string>
				<string>丰台区</string>
				<string>石景山区</string>
				<string>昌平区</string>
				<string>通州区</string>
				<string>大兴区</string>
				<string>顺义区</string>
				<string>怀柔区</string>
			</array>
			<key>s_image_url</key>
			<string>http://p0.meituan.net/deal/b14653bd0970153ad64a19a39ba234fa18411.jpg%40160w_100h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D5%26y%3D5%26relative%3D1</string>
			<key>title</key>
			<string>眉州东坡酒楼</string>
		</dict>
		<dict>
			<key>businesses</key>
			<array>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/510277?utm_source=open</string>
					<key>id</key>
					<integer>510277</integer>
					<key>latitude</key>
					<real>39.957189999999997</real>
					<key>longitude</key>
					<real>116.33392000000001</real>
					<key>name</key>
					<string>宏状元(学院南路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/510277?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/510278?utm_source=open</string>
					<key>id</key>
					<integer>510278</integer>
					<key>latitude</key>
					<real>39.929324999999999</real>
					<key>longitude</key>
					<real>116.34435000000001</real>
					<key>name</key>
					<string>宏状元(展览路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/510278?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/510279?utm_source=open</string>
					<key>id</key>
					<integer>510279</integer>
					<key>latitude</key>
					<real>39.964869999999998</real>
					<key>longitude</key>
					<real>116.39587</real>
					<key>name</key>
					<string>宏状元(安华西里店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/510279?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/510280?utm_source=open</string>
					<key>id</key>
					<integer>510280</integer>
					<key>latitude</key>
					<real>39.999077</real>
					<key>longitude</key>
					<real>116.40895</real>
					<key>name</key>
					<string>宏状元(亚运村店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/510280?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/511225?utm_source=open</string>
					<key>id</key>
					<integer>511225</integer>
					<key>latitude</key>
					<real>39.933239999999998</real>
					<key>longitude</key>
					<real>116.30965</real>
					<key>name</key>
					<string>宏状元(花园桥店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/511225?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/513274?utm_source=open</string>
					<key>id</key>
					<integer>513274</integer>
					<key>latitude</key>
					<real>39.964236999999997</real>
					<key>longitude</key>
					<real>116.297714</real>
					<key>name</key>
					<string>宏状元(万柳店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/513274?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/515449?utm_source=open</string>
					<key>id</key>
					<integer>515449</integer>
					<key>latitude</key>
					<real>39.965589999999999</real>
					<key>longitude</key>
					<real>116.41786999999999</real>
					<key>name</key>
					<string>宏状元(和平西街店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/515449?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/516250?utm_source=open</string>
					<key>id</key>
					<integer>516250</integer>
					<key>latitude</key>
					<real>39.876446000000001</real>
					<key>longitude</key>
					<real>116.45224</real>
					<key>name</key>
					<string>宏状元(潘家园店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/516250?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/565170?utm_source=open</string>
					<key>id</key>
					<integer>565170</integer>
					<key>latitude</key>
					<real>39.983060000000002</real>
					<key>longitude</key>
					<real>116.41585499999999</real>
					<key>name</key>
					<string>宏状元(安苑店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/565170?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/566506?utm_source=open</string>
					<key>id</key>
					<integer>566506</integer>
					<key>latitude</key>
					<real>39.981479999999998</real>
					<key>longitude</key>
					<real>116.3591</real>
					<key>name</key>
					<string>宏状元(花园北路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/566506?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/574255?utm_source=open</string>
					<key>id</key>
					<integer>574255</integer>
					<key>latitude</key>
					<real>39.96734</real>
					<key>longitude</key>
					<real>116.4355</real>
					<key>name</key>
					<string>宏状元(西坝河店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/574255?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/1954474?utm_source=open</string>
					<key>id</key>
					<integer>1954474</integer>
					<key>latitude</key>
					<real>39.957590000000003</real>
					<key>longitude</key>
					<real>116.37392</real>
					<key>name</key>
					<string>宏状元(新康街店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/1954474?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2011813?utm_source=open</string>
					<key>id</key>
					<integer>2011813</integer>
					<key>latitude</key>
					<real>39.929090000000002</real>
					<key>longitude</key>
					<real>116.33341</real>
					<key>name</key>
					<string>宏状元(三里河店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2011813?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2221693?utm_source=open</string>
					<key>id</key>
					<integer>2221693</integer>
					<key>latitude</key>
					<real>39.903427000000001</real>
					<key>longitude</key>
					<real>116.416466</real>
					<key>name</key>
					<string>宏状元(大华路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2221693?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2238007?utm_source=open</string>
					<key>id</key>
					<integer>2238007</integer>
					<key>latitude</key>
					<real>39.908073000000002</real>
					<key>longitude</key>
					<real>116.35897</real>
					<key>name</key>
					<string>宏状元(百盛店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2238007?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2336893?utm_source=open</string>
					<key>id</key>
					<integer>2336893</integer>
					<key>latitude</key>
					<real>39.958620000000003</real>
					<key>longitude</key>
					<real>116.44822000000001</real>
					<key>name</key>
					<string>宏状元(左家庄店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2336893?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2338303?utm_source=open</string>
					<key>id</key>
					<integer>2338303</integer>
					<key>latitude</key>
					<real>40.037379999999999</real>
					<key>longitude</key>
					<real>116.31377000000001</real>
					<key>name</key>
					<string>宏状元(上地店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2338303?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2565523?utm_source=open</string>
					<key>id</key>
					<integer>2565523</integer>
					<key>latitude</key>
					<real>39.866199999999999</real>
					<key>longitude</key>
					<real>116.46012</real>
					<key>name</key>
					<string>宏状元(十里河店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2565523?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2568796?utm_source=open</string>
					<key>id</key>
					<integer>2568796</integer>
					<key>latitude</key>
					<real>39.936726</real>
					<key>longitude</key>
					<real>116.43675</real>
					<key>name</key>
					<string>宏状元(东直门店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2568796?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/2900014?utm_source=open</string>
					<key>id</key>
					<integer>2900014</integer>
					<key>latitude</key>
					<real>39.996389999999998</real>
					<key>longitude</key>
					<real>116.33463999999999</real>
					<key>name</key>
					<string>宏状元(成府路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/2900014?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3031291?utm_source=open</string>
					<key>id</key>
					<integer>3031291</integer>
					<key>latitude</key>
					<real>39.976370000000003</real>
					<key>longitude</key>
					<real>116.311455</real>
					<key>name</key>
					<string>宏状元(海淀南路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3031291?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3031615?utm_source=open</string>
					<key>id</key>
					<integer>3031615</integer>
					<key>latitude</key>
					<real>39.884140000000002</real>
					<key>longitude</key>
					<real>116.38486</real>
					<key>name</key>
					<string>宏状元(虎坊路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3031615?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3333307?utm_source=open</string>
					<key>id</key>
					<integer>3333307</integer>
					<key>latitude</key>
					<real>39.923957999999999</real>
					<key>longitude</key>
					<real>116.41728999999999</real>
					<key>name</key>
					<string>宏状元(东四店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3333307?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3514384?utm_source=open</string>
					<key>id</key>
					<integer>3514384</integer>
					<key>latitude</key>
					<real>39.899389999999997</real>
					<key>longitude</key>
					<real>116.41553999999999</real>
					<key>name</key>
					<string>宏状元(崇文门店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3514384?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3648256?utm_source=open</string>
					<key>id</key>
					<integer>3648256</integer>
					<key>latitude</key>
					<real>39.892679999999999</real>
					<key>longitude</key>
					<real>116.65499</real>
					<key>name</key>
					<string>宏状元(九棵树店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3648256?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3681949?utm_source=open</string>
					<key>id</key>
					<integer>3681949</integer>
					<key>latitude</key>
					<real>39.986465000000003</real>
					<key>longitude</key>
					<real>116.48916</real>
					<key>name</key>
					<string>宏状元(大山子店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3681949?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3703306?utm_source=open</string>
					<key>id</key>
					<integer>3703306</integer>
					<key>latitude</key>
					<real>39.875484</real>
					<key>longitude</key>
					<real>116.44002500000001</real>
					<key>name</key>
					<string>宏状元(龙潭湖店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3703306?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/3923995?utm_source=open</string>
					<key>id</key>
					<integer>3923995</integer>
					<key>latitude</key>
					<real>39.910319999999999</real>
					<key>longitude</key>
					<real>116.4158</real>
					<key>name</key>
					<string>宏状元(王府井店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/3923995?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/4112458?utm_source=open</string>
					<key>id</key>
					<integer>4112458</integer>
					<key>latitude</key>
					<real>39.907910000000001</real>
					<key>longitude</key>
					<real>116.45008</real>
					<key>name</key>
					<string>宏状元(永安里店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/4112458?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/4116061?utm_source=open</string>
					<key>id</key>
					<integer>4116061</integer>
					<key>latitude</key>
					<real>39.976128000000003</real>
					<key>longitude</key>
					<real>116.30689</real>
					<key>name</key>
					<string>宏状元(苏州街店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/4116061?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/4206120?utm_source=open</string>
					<key>id</key>
					<integer>4206120</integer>
					<key>latitude</key>
					<real>39.958347000000003</real>
					<key>longitude</key>
					<real>116.34537</real>
					<key>name</key>
					<string>宏状元(四道口店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/4206120?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/4213437?utm_source=open</string>
					<key>id</key>
					<integer>4213437</integer>
					<key>latitude</key>
					<real>39.976300000000002</real>
					<key>longitude</key>
					<real>116.38021999999999</real>
					<key>name</key>
					<string>宏状元(健德门店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/4213437?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/4283376?utm_source=open</string>
					<key>id</key>
					<integer>4283376</integer>
					<key>latitude</key>
					<real>39.920482999999997</real>
					<key>longitude</key>
					<real>116.58974000000001</real>
					<key>name</key>
					<string>宏状元(管庄店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/4283376?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/4669514?utm_source=open</string>
					<key>id</key>
					<integer>4669514</integer>
					<key>latitude</key>
					<real>40.044144000000003</real>
					<key>longitude</key>
					<real>116.42248499999999</real>
					<key>name</key>
					<string>宏状元(北苑家园店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/4669514?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/5269527?utm_source=open</string>
					<key>id</key>
					<integer>5269527</integer>
					<key>latitude</key>
					<real>39.889668</real>
					<key>longitude</key>
					<real>116.25702</real>
					<key>name</key>
					<string>宏状元(大成路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/5269527?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/5553218?utm_source=open</string>
					<key>id</key>
					<integer>5553218</integer>
					<key>latitude</key>
					<real>39.884875999999998</real>
					<key>longitude</key>
					<real>116.328514</real>
					<key>name</key>
					<string>宏状元(马连道店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/5553218?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/5808148?utm_source=open</string>
					<key>id</key>
					<integer>5808148</integer>
					<key>latitude</key>
					<real>39.906820000000003</real>
					<key>longitude</key>
					<real>116.27343</real>
					<key>name</key>
					<string>宏状元(五棵松店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/5808148?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/21993740?utm_source=open</string>
					<key>id</key>
					<integer>21993740</integer>
					<key>latitude</key>
					<real>39.798139999999997</real>
					<key>longitude</key>
					<real>116.41927</real>
					<key>name</key>
					<string>宏状元(万源路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/21993740?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/23093948?utm_source=open</string>
					<key>id</key>
					<integer>23093948</integer>
					<key>latitude</key>
					<real>39.866500000000002</real>
					<key>longitude</key>
					<real>116.29313</real>
					<key>name</key>
					<string>宏状元(丰台北路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/23093948?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/54032999?utm_source=open</string>
					<key>id</key>
					<integer>54032999</integer>
					<key>latitude</key>
					<real>39.892727000000001</real>
					<key>longitude</key>
					<real>116.63854000000001</real>
					<key>name</key>
					<string>宏状元(大街店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/54032999?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/69111638?utm_source=open</string>
					<key>id</key>
					<integer>69111638</integer>
					<key>latitude</key>
					<real>39.996906000000003</real>
					<key>longitude</key>
					<real>116.46578</real>
					<key>name</key>
					<string>宏状元(望京店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/69111638?utm_source=open</string>
				</dict>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>h5_url</key>
					<string>http://m.dianping.com/shop/69823367?utm_source=open</string>
					<key>id</key>
					<integer>69823367</integer>
					<key>latitude</key>
					<real>40.066049999999997</real>
					<key>longitude</key>
					<real>116.34783</real>
					<key>name</key>
					<string>宏状元(黄平路店)</string>
					<key>url</key>
					<string>http://www.dianping.com/shop/69823367?utm_source=open</string>
				</dict>
			</array>
			<key>categories</key>
			<array>
				<string>汤/粥/炖菜</string>
				<string>简餐快餐</string>
				<string>小吃快餐</string>
				<string>家常菜</string>
			</array>
			<key>city</key>
			<string>北京</string>
			<key>commission_ratio</key>
			<real>0.0</real>
			<key>current_price</key>
			<real>35</real>
			<key>deal_h5_url</key>
			<string>http://m.dianping.com/tuan/deal/20514039?utm_source=open</string>
			<key>deal_id</key>
			<string>2-20514039</string>
			<key>deal_url</key>
			<string>http://t.dianping.com/deal/20514039?utm_source=open</string>
			<key>description</key>
			<string>宏状元 40元代金券1张，可叠加2张 仅售35元！价值40元的代金券1张，全场通用，可叠加使用2张，提供免费wifi。</string>
			<key>distance</key>
			<integer>-1</integer>
			<key>image_url</key>
			<string>http://p1.meituan.net/deal/f87b6a9f68f664cf24131c279065583854208.jpg%40640w_400h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D5%26y%3D5%26relative%3D1</string>
			<key>list_price</key>
			<real>40</real>
			<key>publish_date</key>
			<string>2016-02-25</string>
			<key>purchase_count</key>
			<integer>113117</integer>
			<key>purchase_deadline</key>
			<string>2017-03-31</string>
			<key>regions</key>
			<array>
				<string>朝阳区</string>
				<string>东城区</string>
				<string>西城区</string>
				<string>海淀区</string>
				<string>丰台区</string>
				<string>通州区</string>
			</array>
			<key>s_image_url</key>
			<string>http://p1.meituan.net/deal/f87b6a9f68f664cf24131c279065583854208.jpg%40160w_100h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D5%26y%3D5%26relative%3D1</string>
			<key>title</key>
			<string>宏状元</string>
		</dict>
	</array>
	<key>status</key>
	<string>OK</string>
	<key>total_count</key>
	<integer>116227</integer>
</dict>
</plist>
